.row.compose
  %li
    %i.fas.fa-edit
    = presenter.compose(t('.compose'))
.row
  %li
    %i.fas.fa-envelope
    = t('.inbox')
  %li
    %i.fas.fa-paper-plane
    = presenter.sent(t('.sent'))
  %li
    %i.fas.fa-save
    = presenter.draft(t('.draft'))
  %li
    %i.fas.fa-star
    = t('.starred')
  %li
    %i.fas.fa-trash-alt
    = presenter.delete(t('.delete'))
