-# haml-lint:disable LineLength
%h2= t('.mailbox')

.btn.btn-link{ type: 'button' }
  = @presenter.change_language(params[:locale], t('.switch-language'))

.row
  .col-3.card.text-dark.bg-warning.mb-3.menu-opacity
    %h4.header.menu.text-primary.text-opacity-75= t('.menu')
    %ul.card-body
      = render('menu_side_bar', presenter: @presenter)
  .col-9.card.text-dark-50.bg-info.mb-3.mail-opacity
    %h4.header.mail.text-primary.text-opacity-75= t('.mails')
    %ul.card-body#emails
    %div
    = @presenter.delete_selected(t('.delete-selected'))

.btn.btn-link{ type: 'button' }
  = @presenter.sign_out(t('.sign-out'))
