- if email.errors.any? || flash.any?
  -# - count = flash.count if flash.any?
  %h2
    %p.error
      = pluralize(email.errors.count, 'error')
      prohibited this article from being saved:
  - email.errors.each do |error|
    = error.full_message
  %br
  - flash.each do |type, msg|
    = msg

%h2= t('.compose-email')
= form_with model: email, url: emails_path, local: false do |form|
  .form
    = form.label t('.to')
    = form.text_area :to, size: '50x1', class: 'to'
  .form
    = form.label t('.subject')
    = form.text_area :subject, size: '50x1', class: 'subject'
  .form
    = form.label t('.content'), class: 'content-label'
    = form.text_area :content, size: '50x5', class: 'content-area'
  .form
    = form.submit :Send
    = form.submit 'Save as draft'
