= paginate @emails, remote: true

- @emails.each do |email|
  %li
  = check_box_tag 'email_ids[]', email.id
  -# = "#{email.first_name} #{email.last_name}"
  = @presenter.highlight_email(inbox, email)
  = @presenter.move_email_to_trash(deletable, email)
  = @presenter.mark_email_as_favorite(inbox, email)
  = @presenter.unmark_favorite_email(starred, email)
