<!DOCTYPE html>
<html>
  <head>
    <title>EmailSimulation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="view-port-height container-fluid background p-3 mb-2 text-white">
      <%= yield %>
    </div>
  </body>
</html>
